[Unit]
Description=ISS Tracker

[Service]
User=iota
WorkingDirectory=/home/iota/iss
ExecStart=/home/iota/.pyenv/versions/iss/bin/python /home/iota/iss/tracker.py
Environment=PYTHONUNBUFFERED=1
Environment=PYENV_VERSION=iss
Restart=on-failure

[Install]
WantedBy=multi-user.target
