[Unit]
Description=ISS for Hue Lights

[Service]
User=iota
Group=iota
WorkingDirectory=/home/iota/iss
ExecStart=/bin/python main-hue.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
